@import url(./root.css);
@import url(./utilities.css);

/* Hide everything on inital load so that navbar does not precede loader component */
body > *:not(#overlay-loader) {
    visibility: hidden;
}

/* container  */

.container{
    max-width: 320px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}



.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--image-blur-color);
    z-index: 5;
    display: none;
}

/* ///////////////////////////////// */
/* header  */

header{
    background-color: var(--accent-color-bold);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-link{
    position: relative;
}

#headerLogo{
    color: var(--accent-color-fade);
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: calc(15px + .8vw);
    transition: .3s;
    cursor: pointer;
}

#headerLogo:hover{
    transform: scale(1.1);
}

.header-nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    background-color: var(--accent-color-bold);
    top: 0;
    right: -100%;
    min-height: 100vh;
    padding: 20px;
    transition: .3s;
    z-index: 10;
}

.burger-menu i{
    font-size: 40px;
    color: var(--accent-color-fade);
    cursor: pointer;
}

.show{
    right: 0;
}

.header-nav .link{
    color: var(--accent-color-fade);
    position: relative;
    transition: .2s;
    border-radius: 15px;
    padding: 3px 10px;
}


.header-nav .link:hover,
.header-nav .link.active{
    color: var(--accent-color-bold);
    background-color: var(--accent-color-fade);
}


.burger-menu{
    display: block;
}








/* search  */

.search-text h2{
    font-size: calc(.7rem + 1.2vw);
}

.main-search-form {
    position: relative;
    margin: 7px 0;
    display: flex;
    align-items: center;
}

.main-search-form i {
    position: absolute;
    left: 10px;
    font-size: 1.3rem;
}

.main-search{
    width: 100%;
    padding:20px 0 20px 35px;
    font-size: 1rem;
    border: 1px solid var(--accent-color-bold);
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    
}

.main-search::placeholder {
    color: gray;
    text-overflow: ellipsis;
}


.search{
    width: 100%;
}

.searching{
    position: absolute;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    z-index: 10;
    top: 67px;
    width: 100%;
    background-color: white;
    max-height: 700px;
    overflow-y: auto;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.search-card{
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 10px 20px;
    transition: .3s;
    cursor: pointer;
    /* background-color: var(--accent-color-fade); */
}

.search-card:hover{
    background-color: rgba(128, 128, 128, 0.368);
}


.search-image img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

/* ==================================== */
/* introduction  */

.hero-section{
    background: url(../assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section-inner{
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--image-blur-color);
    padding: 3rem 0;
}

.movie-details {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: snow;
}

.movie-details-description {
    padding: 0 1rem;
    background-color: var(--accent-color-bold);
    border-radius: 10px;
    width: 100%;
}

.movie-details-description-group {
    margin: .5rem 0;
    gap: 1rem;
    display: flex;
    font-size: calc(.8rem + .7vw);
    margin-bottom: 1rem;
}

.movie-details-description-group.group-vertical {
    flex-direction: column;
    gap: .2rem;
}

.movie-details img {
    max-width: 300px;
    border-radius: 10px;
}

.movie-people-container {
    padding: 1rem;
    width: 100%;
    display: flex;
    overflow: auto;
    gap: 1rem;
}

.movie-details-person-card {
    flex-shrink: 0;
    width: 130px;
    max-height: 230px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.movie-details-person-card img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.movie-details-person-card span {
    font-size: calc(.7rem + .6vw);
    inline-size: 100px;
}

.section-subheader {
    font-size: calc(1.2rem + .7vw);
    padding-top: 1rem;
}

.trailers-container {
    margin-top: 1rem;
}

.trailers-container-media {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
}

.trailers-container-media .media {
    border-radius: 5px;
    width: 100%;
    height: 200px;
}

.intro-text{
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid var(--accent-color-fade);
    box-shadow: 3px 3px 3px var(--accent-color-fade);
    border-radius: 20px;
    backdrop-filter: blur(3px);
}


.intro-text h1{
    color: var(--accent-color-bold);
    background-color: var(--accent-color-fade);
    width: max-content;
    padding: 3px 7px;
    border-top-left-radius: 20px;
}


.intro-text p{
    color: var(--accent-color-fade);
}


.intro-text button{
    background-color: var(--accent-color-bold);
    color: var(--accent-color-fade);
    padding: 2px 15px;
    width: max-content;
    align-self: center;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--accent-color-fade);
}




/* ============================================= */
/* movies  */

.movies-section{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10px;
    border: 7px solid var(--accent-color-fade);
    border-right: 0;
    border-left: 0;
    border-collapse: collapse;
    padding: 2rem 0;
}

.movies{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.movies-section-title .title{
    position: absolute;
    font-size: 1.7rem;
    background-color: var(--accent-color-fade);
    padding: 0 1rem;
    border-top-left-radius: 20px;
    color: var(--accent-color-bold);
    font-weight: normal;
    overflow: hidden;

}

.movies-title{
    font-size: 1.7rem;
    width: max-content;
    background-color: var(--accent-color-fade);
    padding: 0 1rem;
    border-top-left-radius: 20px;
    color: var(--accent-color-bold);
    font-weight: normal;
    overflow: hidden;
}

.movie-cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 1rem 1rem 1rem;
    margin-top: 5rem;
    gap: 60px;
}

.movie-card{
    width: 300px;
    border: 2px solid var(--accent-color-fade);
    border-radius: 20px;
    padding-bottom: 20px;
    background-color: var(--accent-color-fade);
    color: var(--accent-color-bold);
    border: 1px solid var(--accent-color-bold);
    box-shadow: 2px 2px 2px var(--accent-color-bold);
    cursor: pointer;
    transition: .3s;
    overflow-x: hidden;
}

.movie-card-description {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: column;
    padding: .5rem 5rem 0 5rem;
    height: 100px;
}

.movie-card:hover{
    transform: scale(1.04);
}

.movie-card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.movies-error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    border: 5px solid darkred;
    border-radius: 10px;
    height: 100px;
    font-size: 2rem;
}

/* Loader */

body:has(.loader-wrapper) {
    overflow: hidden;
}

.loader-wrapper {
    background-color: #FFF;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Loader classes below are taken from uiverse.io */
.three-body {
    --uib-size: 75px;
    --uib-speed: 0.8s;
    --uib-color: #5D3FD3;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}
   
.three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
}
   
.three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
}
   
.three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
}
   
.three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
}
   
.three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
}
   
.three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
       calc(var(--uib-speed) * -0.15) ease-in-out;
}
   
.three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
}
   
.three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
}



/* movies page  */
.movies-page{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
}


.movies-page-cards{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


/* Not found ------------ */

.not-found-container {
    background-color: snow;
    z-index: 100;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-container-inner {
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 5px double var(--error);
    padding: 2rem;
}

.not-found-container-inner p {
    font-size: 4rem;
}

.not-found-container-inner a {
    display: inline-block;
    margin-top: 1rem;
    border: 3px solid var(--accent-color-bold);
    padding: 1rem .5rem;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--accent-color-bold);
    transition: .2s;
}

.not-found-container-inner a:hover {
    background-color: var(--accent-color-bold);
    color: snow;
}

/* ---------------------- */
   
@keyframes spin78236 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
}
   
@keyframes wobble1 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(-66%) scale(0.65);
     opacity: 0.8;
    }
}
   
@keyframes wobble2 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(66%) scale(0.65);
     opacity: 0.8;
    }
}

/* End of loader */

/* MOVIE LOADER */

/* From Uiverse.io by BlackisPlay */ 
#ghost {
    position: relative;
    scale: 0.8;
  }
  
  #red {
    animation: upNDown infinite 0.5s;
    position: relative;
    width: 140px;
    height: 140px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "a1  a2  a3  a4  a5  top0  top0  top0  top0  a10 a11 a12 a13 a14"
      "b1  b2  b3  top1 top1 top1 top1 top1 top1 top1 top1 b12 b13 b14"
      "c1 c2 top2 top2 top2 top2 top2 top2 top2 top2 top2 top2 c13 c14"
      "d1 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 d14"
      "e1 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 e14"
      "f1 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 f14"
      "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
      "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
      "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
      "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
      "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
      "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
      "st0 st0 an4 st1 an7 st2 an10 an10 st3 an13 st4 an16 st5 st5"
      "an1 an2 an3 an5 an6 an8 an9 an9 an11 an12 an14 an15 an17 an18";
  }
  
  @keyframes upNDown {
    0%,
    49% {
      transform: translateY(0px);
    }
    50%,
    100% {
      transform: translateY(-10px);
    }
  }
  
  #top0,
  #top1,
  #top2,
  #top3,
  #top4,
  #st0,
  #st1,
  #st2,
  #st3,
  #st4,
  #st5 {
    background-color: red;
  }
  
  #top0 {
    grid-area: top0;
  }
  
  #top1 {
    grid-area: top1;
  }
  
  #top2 {
    grid-area: top2;
  }
  
  #top3 {
    grid-area: top3;
  }
  
  #top4 {
    grid-area: top4;
  }
  
  #st0 {
    grid-area: st0;
  }
  
  #st1 {
    grid-area: st1;
  }
  
  #st2 {
    grid-area: st2;
  }
  
  #st3 {
    grid-area: st3;
  }
  
  #st4 {
    grid-area: st4;
  }
  
  #st5 {
    grid-area: st5;
  }
  
  #an1 {
    grid-area: an1;
    animation: flicker0 infinite 0.5s;
  }
  
  #an18 {
    grid-area: an18;
    animation: flicker0 infinite 0.5s;
  }
  
  #an2 {
    grid-area: an2;
    animation: flicker1 infinite 0.5s;
  }
  
  #an17 {
    grid-area: an17;
    animation: flicker1 infinite 0.5s;
  }
  
  #an3 {
    grid-area: an3;
    animation: flicker1 infinite 0.5s;
  }
  
  #an16 {
    grid-area: an16;
    animation: flicker1 infinite 0.5s;
  }
  
  #an4 {
    grid-area: an4;
    animation: flicker1 infinite 0.5s;
  }
  
  #an15 {
    grid-area: an15;
    animation: flicker1 infinite 0.5s;
  }
  
  #an6 {
    grid-area: an6;
    animation: flicker0 infinite 0.5s;
  }
  
  #an12 {
    grid-area: an12;
    animation: flicker0 infinite 0.5s;
  }
  
  #an7 {
    grid-area: an7;
    animation: flicker0 infinite 0.5s;
  }
  
  #an13 {
    grid-area: an13;
    animation: flicker0 infinite 0.5s;
  }
  
  #an9 {
    grid-area: an9;
    animation: flicker1 infinite 0.5s;
  }
  
  #an10 {
    grid-area: an10;
    animation: flicker1 infinite 0.5s;
  }
  
  #an8 {
    grid-area: an8;
    animation: flicker0 infinite 0.5s;
  }
  
  #an11 {
    grid-area: an11;
    animation: flicker0 infinite 0.5s;
  }
  
  @keyframes flicker0 {
    0%,
    49% {
      background-color: red;
    }
    50%,
    100% {
      background-color: transparent;
    }
  }
  
  @keyframes flicker1 {
    0%,
    49% {
      background-color: transparent;
    }
    50%,
    100% {
      background-color: red;
    }
  }
  
  #eye {
    width: 40px;
    height: 50px;
    position: absolute;
    top: 30px;
    left: 10px;
  }
  
  #eye::before {
    content: "";
    background-color: white;
    width: 20px;
    height: 50px;
    transform: translateX(10px);
    display: block;
    position: absolute;
  }
  
  #eye::after {
    content: "";
    background-color: white;
    width: 40px;
    height: 30px;
    transform: translateY(10px);
    display: block;
    position: absolute;
  }
  
  #eye1 {
    width: 40px;
    height: 50px;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  
  #eye1::before {
    content: "";
    background-color: white;
    width: 20px;
    height: 50px;
    transform: translateX(10px);
    display: block;
    position: absolute;
  }
  
  #eye1::after {
    content: "";
    background-color: white;
    width: 40px;
    height: 30px;
    transform: translateY(10px);
    display: block;
    position: absolute;
  }
  
  #pupil {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 1;
    animation: eyesMovement infinite 3s;
  }
  
  #pupil1 {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1;
    animation: eyesMovement infinite 3s;
  }
  
  @keyframes eyesMovement {
    0%,
    49% {
      transform: translateX(0px);
    }
    50%,
    99% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  #shadow {
    background-color: black;
    width: 140px;
    height: 140px;
    position: absolute;
    border-radius: 50%;
    transform: rotateX(80deg);
    filter: blur(20px);
    top: 80%;
    animation: shadowMovement infinite 0.5s;
  }
  
  @keyframes shadowMovement {
    0%,
    49% {
      opacity: 0.5;
    }
    50%,
    100% {
      opacity: 0.2;
    }
  }
  


/* END OF MOVIE LOADER */

/* ////////////////////////////////////////////////// */
/* responsive  */

/* 320 - 570 */

@media (max-width: 570px) {
    .container {
        max-width: 570px;
    }

    .intro-text{
        width: 70%;
    }

    .movie-card {
        width: 250px;
        height: 400px;
        padding-bottom: 0;
    }

    .movie-card img {
        height: 70%;
    }

    .movie-card-description {
        height: 28%;
        padding: 0 .3rem;
    }

    .movies-section-title .title{
        max-width: 260px;
        width: 100%;
    }

    .search-card{
        flex-direction: column;
        gap: 10px;
    }


}

@media (min-width: 990px) {
    .movie-details {
        flex-direction: row;
    }


    .movie-details-image-container, .movie-details-description {
        width: 50%;
    }

    .movie-detail img {
        max-height: 750px;
    }

    .trailers-container-media {
        flex-flow: row wrap;
        justify-content: center;
    }

    .trailers-container-media .media {
        width: 500px;
    }


   
}

@media (min-width: 570px) and (max-width: 1090px) {
    .container {
        max-width: 800px;
    }

    .intro-text{
        width: 70%;
    }

    .movie-details img {
        max-width: 450px;
    }

    .trailers-container-media .media {
        height: 300px;
    }
}


@media (min-width: 1090px) {
    .container {
        max-width: 1440px;
    }

    .intro{
        min-height: 600px;
        display: flex;
        align-items: center;
    }

    .intro-text{
        width: 40%;
        gap: 20px;
    }

    .intro-text h1{
        font-size: 40px;
        font-weight: 900;

    }

    .intro-text p{
        font-size: 30px;
    }

    .intro-text button{
        font-size: 25px;
    }

    .burger-menu{
        display: none;
    }

    .header-logo a{
        font-size: 30px;
    }

    .header-nav{
        display: flex;
        position: unset;
        flex-direction: row;
        min-height: auto;
    }

    .header-nav a{
        font-size: 20px;
        gap: 10px;
        display: flex;
        align-items: center;
    }

    #burger-menu-close-button{
        display: none;
    }

    .hover-menu{
        left: 0;
        top: 100%;
        padding: 15px;
        min-height: auto;
    }

 

    .movie-card{
        width:400px;
    }

    .movie-details img {
        max-width: 550px;
    }

    .trailers-container-media .media {
        height: 350px;
    }
}

